
/* 
  Author:  Cliff
  #45489a //old color value 
*/

/* .page-content .content-section:nth-child(2) {
    background-image: url(../img/bg_first.jpg);
} */
.row{
  
}

#featured span {
  color: #ffffff;
  font-weight: bold; 
  display:  block; 
  padding-bottom: 6px;
}

#featured span small{
  float:  right;
}

#jsonContent {

  display:  inline-block;
}

#jsonContent .card{
  display: inline-block;
  width: 90%;
  margin: 10px;
}



#jsonContent img {
  float: left;
  margin-right: 30px;
  max-width: 100%;
  overflow: hidden;
  width: 30rem;


}

#featured #skills{
  
}

#skills div{
  display: inline-block;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 20px;
  background-color: #4d4d4d;
  border: 1px solid #7d7d7d;

}

.section-content-body a{
  display: inline-block;
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 20px;
  background-color: #4d4d4d;
  border: 1px solid #7d7d7d;
}

/*#jsonContent .card {
  


}*/

.tabs-content {
  /* display: none; */
  /*visibility: hidden;*/
}