
/* 
  Author:  Cliff
  #45489a //old color value 
*/

/* .page-content .content-section:nth-child(2) {
    background-image: url(../img/bg_first.jpg);
} */
.row{
  
}

#featured span {
  color: #ffffff;
  font-weight: bold; 
  display:  block; 
  padding-bottom: 6px;
}

#featured span small{
  float:  right;
}

#jsonContent {

  display:  inline-block;
}

#jsonContent img {
  float: left;
  margin-right: 30px;
  max-width: 100%;
  overflow: hidden;


}

/*#jsonContent .card {
  


}*/

.tabs-content {
  display: none;
  /*visibility: hidden;*/
}