body {
}

#main-display {
  padding: 0px 10px;
  min-height: 100vh;
}

@media (min-width: 992px) {
  #main-display {
    /*padding-right: 80px;*/
  }
}

#footer {
  height: 70px;
  width: 100%;
  margin-bottom: 0px;
}

